* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar {
  height: 15vh;
  background-color: antiquewhite;
}

button {
  padding: 20px 30px;
  margin: 20px;
}